.fleft {float: left; margin: 0px 15px 15px 0px;}
.fright {float: right; margin: 0px 0px 15px 15px;}
.aright {text-align: right !important;}
.aleft {text-align: left !important;}
.acenter {text-align: center !important;}
.vmiddle {vertical-align: middle !important;}
.hidden {display: none;}
.visible {display: block;}
.cleft {clear: left;}
.cright {clear: right;}
.cfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.cfix {display: inline-block;}
html[xmlns] .cfix {display: block;}
* html .cfix {height: 1%; zoom: 1;}
.upper {text-transform: uppercase;}
.test {border: 1px dotted #f00;}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:20px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url('../images/rating/delete.gif') no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url('../images/rating/star.gif') no-repeat 0 0px;height:16px;}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
div.rating-cancel, div.rating-cancel a {display: none!important;}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

.comboboxContainer {
	border-left: solid 1px #b1c4d2;
	border-top: solid 1px #b1c4d2;
	border-right: solid 1px #b1c4d2;
	border-bottom: none;
}
.comboboxValueContainer {}
.comboboxValueContent {
	padding-left: 7px;
	color: #0089C9;
}
.comboboxDropDownContainer {
	border-right: solid 1px #b1c4d2;
	border-bottom: solid 1px #b1c4d2;
	border-left: solid 1px #b1c4d2;
	border-top: none;	
	background: #fff;
	overflow: hidden;	
}
.comboboxDropDownButton {
	width: 34px;
	height: 25px;
	background-image: url('../images/combobox-button-bg.png');
}
.comboboxGroupItemHeader {
	display: block;
	background: #000;
	color: #fff;
}
.comboboxGroupItemContainer {
	padding-left: 0px;
	margin-left: 0px;
}
.comboboxItem {
	background: #fff;
	color: #0089C9;
	text-transform: lowercase;
	font-weight: normal;
	font-style: normal;
	padding-left: 7px;
}
.comboboxItemHover {
	background-color: #0089C9;
	color: #fff;	
	padding-left: 7px;
}
.comboboxGroupItemContainer .comboboxItem {
	padding-left: 20px;
	margin-left: 0px;
}

/* Dropdown control */
/*
.selectBox-dropdown {
	width: 90px !important;
	position: relative;
	border-top: solid 1px #5e5130;
	border-right: solid 1px #5e5130;
        border-bottom: none;
	border-left: solid 1px #5e5130;		
	line-height: 15px;
	text-decoration: none;
	color: #000;
	outline: none;
	vertical-align: middle;
	background: #fff url('../images/combobox-arrow.gif') 100% center no-repeat;
	display: inline-block;
	cursor: pointer;
        text-align: left;
        zoom: 1;
}

.selectBox-dropdown .selectBox-label {	
	padding: .2em 0 .2em 7px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;        
}

.selectBox-dropdown .selectBox-arrow {
        display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
        height: 21px;	
	background: url('../images/combobox-arrow.gif') 100% center no-repeat;	       
}

.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	border: solid 1px #5e5130;
        border-top: 0;
	background: #FFF;	
	overflow: auto;
        text-align: left;
}

.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}

.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 0 0 7px;
	white-space: nowrap;
	overflow: hidden;	
}

.selectBox-options LI.selectBox-hover A {
	background-color: #5e5130;
        color: #fff;
}
.selectBox-options LI.selectBox-selected A {	
}
.selectBox-options .selectBox-optgroup {
	color: #5e5130;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}
*/

/* Dropdown control */

.selectBox-dropdown {
	display: inline-block;
	position: relative;
  border: 1px solid rgba(204, 204, 204, 1);
	text-decoration: none;
	outline: none;
	/*background: #fff url('../images/combobox-arrow.gif') 100% center no-repeat;*/
	background-color: rgba(255,255,255,1);
	width: 200px;
	height: 28px;
	cursor: pointer;
  text-align: left;
  zoom: 1;
}
.selectBox-dropdown .selectBox-label {	
	line-height: 28px;
	font-size:16px;
	padding: 0 10px;
	display: inline-block;
	white-space: nowrap;
	/*overflow: hidden;*/        
}

.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
  height: 28px;	
	background-image: url('../images/combobox-arrow.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;      
}

.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 250px;
	//height: 250px;
	border: solid 1px #646464;
    border-top: 0;
	background: #FFF;	
	overflow: auto;
    text-align: left;
}

.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}

.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 0 0 7px;
	white-space: nowrap;
	overflow: hidden;
	color: #646464;
	font-size:11px;
}

.selectBox-options LI.selectBox-hover A {
	background-color: #646464;
    color: #fff;
	font-size:11px;
}
.selectBox-options LI.selectBox-selected A {	
}
.selectBox-options .selectBox-optgroup {
	color: #666;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}